:root {
    --darktheme: #393939;
    --border-radius: 10px;
}


* {
   font-family: Arial, Helvetica, sans-serif;
   background-color: var(--darktheme);
   color: white;   
   margin: 0;
   padding: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

main {
    padding: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav a {
    float: inline-end;
    list-style: none;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: underline;
    text-underline-offset: 7px;
    text-decoration-thickness: 2px;
    font-size: 18px;
    border-radius: 10px;
}


nav a:hover {
    background-color: #6F8FAF	;
}

nav a:active {
    background-color: darkblue;
}


html {
    scroll-behavior: smooth;
}

.banner {
    height: 200px;
    width: 100%;
   
}

.page-title {
    /* background-color:#6F8FAF; */
    padding: 15px;
    height: 50px;
    margin: 0;
    /*border-style: solid; */
   /* border-color:antiquewhite; */ 
    border-radius: 20px;  
}


.about-me {
    display: flex;
    text-align: center;
    justify-content: space-between;
    font-size: medium;
    justify-content: center;
    
}

.about-me-header {
    display: flex;
    justify-content: flex-start;
}